@model IEnumerable<Projectnaz.Models.Order>
@{
    ViewBag.Title = "Index";
}
<div class="container body-content">
    <div class="content-panel">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>